@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Inknut+Antiqua:wght@300&display=swap');


/* main */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}
main h2{
    font-size: 3rem;
    color: white;
}
main p{
    color: white;
    font-size: 2rem;
}
.main-img{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.331),rgba(0, 0, 0, 0.738)),url('/photo/contact.jpg');
  align-items: center;
  display: flex;
  text-align: center;
  padding: 10px;
  justify-content: center;
  height: 400px;
  color: white;
  flex-direction: column;
  font-family: sans-serif;
}
.main-img h2{
  font-size: 7rem;
}
.main-img p{
  font-size: 2rem;
}




/* Style inputs */
input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 25px;
  }
  input:hover, select:hover, textarea:hover{
    box-shadow: 2px 2px 10px black;
  }
  /* Style the container/contact section */
  .container-1 {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  }
  
  .main-box{
    width: 100%;
    padding: 20px;
  
  }
  .main-box label{
      color: black;
      font-size: 1.7rem;
      font-family: sans-serif;
  }



