

input, select, textarea{
    width: 100%;
    padding: 12px 25px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 25px;
  }
  input:hover, select:hover, textarea:hover{
    box-shadow: 2px 2px 10px black;
  }

#file-label{
    background-color: indigo;
    color: white;
    padding: 10px 20px;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
}
  #choose{
    color: black;
    font-size:1.5rem;
    margin: 0px 0px 0px 5px;
  }
  .container-1 {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  }
  
  .main-box{
    width: 50%
  
  }
  .main-box label{
      color: black;
      font-size: 1.7rem;
      font-family: sans-serif;
  }

  
main h2{
  font-size: 3rem;
  color: white;
}
main p{
  color: white;
  font-size: 2rem;
}
.main-img{
background-image:  linear-gradient(rgba(0, 0, 0, 0.331),rgba(0, 0, 0, 0.738)),url('https://assets1.theenglishfarm.com/sites/default/files/upload.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
align-items: center;
display: flex;
text-align: center;
padding: 10px;
justify-content: center;
height: 400px;
color: white;
flex-direction: column;
font-family: sans-serif;
}
.main-img h2{
font-size: 7rem;
}
.main-img p{
font-size: 2rem;
}

  @media (max-width:600px)
  {
    .main-box{
      width: 100%;
    }
    .container-1{
      width: 100%;
    }
  }
