@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
#navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    position:sticky;
    z-index: 1;
    width: 100%;
}
#navbar img{
    width: 40px;
    border: 2px solid white;
    margin: 12px 80px 12px 80px;   
    border-radius: 70px;
}
#navbar ul{
    display: flex;
}
#navbar .first{
    width: 60%;
}
#navbar ul li a{
    text-decoration: none;
    color:white;
    font-weight: 500;
    padding: 10px 20px;
}
#navbar ul li {
    list-style-type: none;
}
#navbar form input{
    padding: 5px 10px;   
}
#navbar form button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px 22px;
}
.burger{
 cursor: pointer;
 display: none;
 position: absolute;
 top: 28%;
 left: 90%;
}
.line{
    background-color: white;
    width: 23px;
    height: 2px;
    margin: 3px 0px;
}
/* header */
.content1{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('https://images.pexels.com/photos/302769/pexels-photo-302769.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-family: sans-serif;
    position:relative;
}
.c-1-text{
    width: 40%;
}
.c-1-text h1{
    font-size: 2.4rem;
}
.c-1-text p{
    font-size: 1rem;
    margin: 16px 0px;
}
.c-1-text .search{  
    padding: 8px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: 900;
    margin: 0px 20px 0px 0px;
}
.c-1-text .search:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.c-1-img{
    width: 10%;
}
.content1 img{
    width: 180px;
}

/* main */

.content2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
    flex-direction: row;    
}
.content2 .left{
    width: 30%;
}

.content2 .left img{
    width: 200px;
    border: 1px solid black;
    border-radius: 24px;
}

.content2 .right{
    width: 70%;
    /* padding: 20px; */
}
.content2 .right h1{
    font-family: 'Lobster', cursive;
    color: rgb(53, 53, 53);
    font-weight: 100;
    font-size: 3rem;
}
.content2 .right p{
    font-family: 'roboto', cursive;
}
.reverse{
    flex-direction: row-reverse;
}
.reverse .left img{
    float: right;
}

/* footer */

/* contact us  */
.contact{
    background-color: rgb(222, 222, 222);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 30px 10px;

}
.contact h1{
    font-family: sans-serif;
    font-size: 2.5rem;
}
.contact input,textarea,.submit{
    padding: 9px 10px;
    width: 100%;
    margin: 20px 0px 0px 0px;
    border: none;
}
.contact .submit{
    background-color:black;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    
}
.contact input,textarea:focus{
    outline: none;
}
.copy{
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}


@media screen and (max-width:1216px){
    #navbar .first{
        width: 45%;
    }
    #navbar ul li a{
        padding: 0px 10px;
    }
    .second{
        width: 20%;
    }
    #navbar form{
        width:40%;
        flex-direction: column;
    }
    .left{
        padding: 40px;
    }
    .right{
        padding: 50px;
    }
}

@media screen and (max-width:1068px)  {
    #navbar{
        flex-direction: column;
        position: sticky;
        /* transition:all 0.4s ease-out;  */
    }
    #navbar .first{
        width: 80%;
        transition:all 0.4s ease-out;     
        
    }
    #navbar form input{
        padding: 0px 10px;
        width: 100%;
        margin: 10px 0px 10px 0px;
        transition:all 0.4s ease-out; 
        
    }
    #navbar form button{
        display: block;
        margin: 0 auto;
        padding: 2px 10px;
        transition:all 0.4s ease-out; 
    }
    #navbar ul{
        flex-direction: column;
        text-align: center;
    }
    #navbar ul li {
    margin: 10px 0px;
    }

    .content2{
        padding: 0;
        width: 100%;
        flex-direction: column;
        display: flex;
        margin: 60px 0px;
    }
    .content2 .left{
        width: auto;
    }

    .right{
        width: 100%;
        padding: 10px;
    }
    .left{
        padding: 10px;
    }
    .content2 .right img{
        float: none;
    } 
   .c-1-text{
    padding: 20px 0px 0px 0px;
    width: 100%;
    text-align: center;
   }
   .c-1-text h1{ 
    font-size: 1.7rem;
   }
   .c-1-img {
    margin: 0px 0px 0px 0px;
    width: 50%;
   }
   .c-1-img img{
    width: 100%;
   }
   .content1{
    flex-direction: column-reverse;
    padding: px 0px;
   }
   .c-1-text .search{
    padding: 4px 7px;
   }
   .burger{
    display: block;
   }
   .h-nav-resp{
    height: 70px;
   }
   .v-none-resp{
    opacity: 0;
   }
}