<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All In One Website</title>
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/contact.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2430679515205446"
     crossorigin="anonymous"></script>
    <link rel="icon" href="photo/logo.png">
    <script src="https://kit.fontawesome.com/99fd91ee1f.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    
</head>
<body>
  <div id="loader">
    <div footer-html="loader.html"></div>
  </div>

<div  id="myDiv" class="animate-bottom">
  
    <header>
      <div class="header">
      <div class="img-header round">
          <a href="index.html"><img src="photo/logo.png" alt="all in one logo"></a>
      </div>
          <div class="text-header">
          <p class="text-header-1">Developer's</p>
          <div class="text-effect">
            <h1 class="neon" data-text="All In One" contenteditable>All In One</h1>
            <div class="gradient"></div>
            <div class="spotlight"></div>
          </div>
          <h2>Learn <span class="autotype"></span></h2>
    </header>
   

        <div id="navbar">
        <i onclick="toggleNav()" class="fa fa-bars icon"></i>
        <nav id="toggle">        
            <ul class="all-right">
            <li><a  href="index.html"><span>Home</span></a></li>
            <li id="courses"><a id="course"  href="#"><span>Trending</span></a>
               <div id="toggle2"><ul>
                <li class="list"><a  href="c.html"><span>C</span></a></li>
                <li class="list"><a  href="java.html"><span>java</span></a></li>
                <li class="list"><a  href="python.html"><span>Python</span></a></li>
                <li class="list"><a  href="html.html"><span>HTML</span></a></li>
                <li class="list"><a  href="css.html"><span>CSS</span></a></li>
                <li class="list"><a  href="javascript.html"><span>JavaScript</span></a></li>
                <li class="list"><a  href="bootstrap.html"><span>Bootstrap</span></a></li>
                <li class="list"><a  href="php.html"><span>PHP</span></a></li>
              </ul></div>
            </li>
            <li><a href="courses.html"><span>All Courses</span></a></li>
            <li><a href="about.html"><span>About Us</span></a></li>
            <li><a  class="active" href="contact.html"><span>Contact Us</span></a></li>
        </ul>
    </nav>
</div>
    
    
<main>
  
  <div class="all-center" ng-app="" 
  ng-init="name='';
  place='India';
  profession='';
  company='';
  message='';
  email=''">

<section class="section-1">

<div class="form-box">
    <span class="borderLine"></span>
    <form action="https://formsubmit.co/pawanmortale111@gmail.com" method="POST">
        <h2>Contact Us</h2>
        <div class="inputBox">
            <input type="text" ng-model="name" required="required" name="name">
            <label for="name"><span>Name</span></label>
            <i></i>
        </div>

        <div class="inputBox">
            <input type="email" ng-model="email" required="required" name="email">
            <label for="email"><span>Email Id</span></label>
            <i></i>
        </div>

        <div class="inputBox">
            <input type="text" ng-model="company" required="required" name="company">
            <label for="company"><span>Company</span></label>
            <i></i>
        </div>

        <div class="inputBox">
            <input type="text" ng-model="profession" required="required" name="profession">
            <label for="profession"><span>Profession</span></label>
            <i></i>
        </div>

        <div class="inputBox">
            <textarea name="message" id="" cols="32" ng-model="message" placeholder="Enter The Message" rows="10"></textarea>
            <label for="message"><span></span></label>
            <i></i>
        </div>          
        <input type="submit" name="submit"  value="WHAT DOES THIS BUTTON DO??">
       
    </form>
</div>




<div class="paper-div">
    <div class="paper">
      <div class="lines">
        <div class="Lettertext" spellcheck="false">
          Hello Pavan Mortale, <br /><br />
          This is {{ name }}. I am from {{place}}. 
          <br/><br/>
          I am a {{profession}}, working in {{company}}.
          <br/><br/>
          {{message}}
          <br/><br />
          I like Your Work. I Love, All In One a heart &#9829;&#9829;&#9829; <br />
          You Did Great Job {{email}}.
          <br/><br/>
          Thanks and Regards, <br> {{ name }}
        </div>
      </div>
    </div>
</div>

</section>

</main>

    <footer>


      <div class="box">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="courses.html">All Courses</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>

    <div class="box-2">
      <ul >
        <li>
          <a  id="close"> <i class="fa fa-close"></i></a>
        </li>
        <div id="hide">
        <li>
          <a target="_blank" href="mailto:pawanmortale111@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </li>
        <li>
          <a target="_blank" href="tel:+917558644975"><i class="fa fa-phone"></i></a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/pavan_patil_701"><i class="fa fa-instagram"></i></a>
        </li>
      
       <li>
          <a target="_blank" href="https://www.facebook.com/pavan.mortale.92"><i id="width-padding" class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/Pavan_Mortale"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/pavan-mortale-a07a98264"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a target="_blank" href="https://wa.me/917558644975?text=Hi%20Sir,%0aMy%20Name%20Is%20:%0aAge:%0aMobile%20No:"><i class="fa fa-whatsapp"></i></a>
        </li><li>
          <a target="_blank" href="https://github.com/mortale2004"><i class="fa fa-github"></i></a>
        </li>
      </div>
     


      </ul>
      
    </div>
    <div class="copyright">
      <p>All &copy; Copyrights Reserved To All In One</p>
    </div>
    <a href="#" id="scroll" style="display: none;"><span></span></a>
  </footer>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script>
    // To autotype text in header
var typed = new Typed('.autotype', {
strings: ["C","C++","Java","Python","DBMS","HTML","CSS","Javascript","Data Structure"],
typeSpeed:50,
backspeed:50,
loop: true
});
let slideIndex = 0;
showSlides();
 </script>
<script src="script/script.js"></script>

</body>
</html> 
